body {
    background: #000;
    max-width: 100%;
}


.textoTitulo{
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    color: white; 
    margin-left: 6rem;   
}

.logo img{
    width: 100%;
    height: 40rem;
    backdrop-filter: inherit;
   
}


.parte1{
    display: flex;
    justify-content: space-between;
}

.botões{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
 /* Botões */
.botão1{
    padding: 1rem;
    background-color: rgb(3, 78, 240);
    border-radius: 1rem;
    width: 24rem;
    height: 1rem;
    text-align: center;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}
 
.botão1 a{
    color: white;
    text-decoration: none;
    font-size: 16px;

}


.botão1::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg,transparent,#fff,transparent);
    transition: 0.5s;

}

.botão1:hover::before{
    left: 100%;
}


.botão2{
    margin-top: 1rem;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 1rem;
    width: 24rem;
    height: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.botão2 a{
    color: white;
    text-decoration: none;
    font-size: 16px;

}

.botão2::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg,transparent,#fff,transparent);
    transition: 0.5s;

}

.botão2:hover::before{
    left: 100%;
}

 /* Fim Botões */


.imagemfundo img{
    height: 28rem;
    width: 45rem;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.imagemfundo:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.desaque{
    margin-top: 4rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: bold;
}


.barra{
    width: 7rem;
    height: 0.4rem;
    border-radius: 3px;
    background: rgb(204, 1, 1);
    margin: 0.4rem auto 0.5rem;
}

.animação1{
    margin-top: 2rem;
}
.novidade{
    display: flex;
    align-items: center;
}

.imgnovidade img{
    height: 25rem;
    width: 40rem;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.imgnovidade:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.titulo{
    font-size: 2rem;
    color: white;
    padding-left: 1rem;
}

.textonovidades{
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
    padding-left: 1rem;
}
.animação2{
    margin-top: 4rem;
}
.animação3{
    margin-top: 4rem;
}
.animação4{
    margin-top: 4rem;
}
.textos1{
    flex-direction: column;
}

.planodefundo{
    margin-top: 6rem;
}
.planos{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-top: 3rem;
}

.subtitulo-planos{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    padding-top: -1rem;
}

.barra2{
    width: 7rem;
    height: 0.4rem;
    border-radius: 3px;
    background: rgb(204, 1, 1);
    margin: 0.4rem auto 0.5rem;
    margin-top: 0rem;

}
.disponivel{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.textodisponivel{
    
    color: white;
    font-size: 2rem;
}

.computador{
    color: white;
    align-items: center;
    text-align: center;
    margin-top: -1rem;
}

.celular{
    color: white;
    align-items: center;
    text-align: center;
    margin-top: -1rem;
}

.conteudo{
    display: flex;
    justify-content: space-between;
    width: 24rem;
    margin-top: 1rem;
    margin-left: 2rem;

}
.imgcomputador img{
    width: 8rem;
}

.imgcelular img{
    width: 8rem;
}

.nomesite{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 6rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: white;
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: rgb(211, 211, 211);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 1em 3em;
    margin-top: 1rem;
}


